<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqkk.mapper.UserInfoMapper">

    <resultMap type="com.cqkk.entity.UserInfo" id="UserMap">
        <id column="ID" property="id"/>
        <result column="USERNAME" property="username"/>
        <result column="PASSWORD" property="password"/>
        <result column="ROLE" property="role"/>
    </resultMap>

    <!--增-->
    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.cqkk.entity.UserInfo">

    </insert>

    <!--删-->
    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete
        from user
        where ID = #{id}
    </delete>

    <!--改-->
    <update id="updateUser" parameterType="com.cqkk.entity.UserInfo">
        update user
        set NAME=#{name},
            PASSWORD=#{password}
        WHERE ID = #{id}
    </update>

    <!--查-->
    <select id="queryUserInfoByUm" parameterType="java.util.HashMap" resultMap="UserMap">
        select * from user
        <where>
            <if test="map.username != null">
                where username = #{map.username}
            </if>
            <if test="map.password != null">
                where password = #{map.password}
            </if>
        </where>
    </select>

    <!--dao接口用List接收即可-->
    <select id="queryUserInfo" parameterType="com.cqkk.entity.UserInfo" resultMap="UserMap">
        select *
        from user
        <where>
            <if test="user.username != null">
                username = #{user.username}
            </if>
            <if test="user.password != null">
                and password = #{user.password}
            </if>
        </where>
    </select>

</mapper>